# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/
/build

# Production
/build

# Misc
.DS_Store
*.pem

# Local .env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Firebase
firebase-debug.log
firebase-debug.*.log
*.firebase.*
*src/ai/dev.ts*
*src/ai/flows*

# IDEs
.vscode/
.idea/

# Turbopack
.turbo